@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00CCCC, #FF0033);
    clip-path: circle(18% at 30% 30%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0eed3e, #ed05ca);
    clip-path: circle(18% at 70% 70%);
    z-index: -1;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 360px;
    z-index: 1;
}

.container .calculator {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 90px);
    gap: 0;
    z-index: 2;
}

.input-area {
    grid-column: span 4;
    display: flex;
    align-items: center;
}

.container .calculator .value {
    grid-column: span 4;
    height: 140px;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 40px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container .calculator .num {
    display: grid;
    place-items: center;
    width: 90px;
    height: 80px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.visible {
    display: grid !important;
}

.more-btn {
    place-items: center;
    position: absolute;
    margin-left: 10px;
    top: 20px;
    width: 70px;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.005);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
}

.container .calculator .num:hover {
    transition: 0s;
    background: rgba(255, 255, 255, 0.05);
}

.key-hidden {
    display: none;
}

.advance {
    place-items: center;
    width: 90px;
    height: 80px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}
